streamlit>=1.36.0
transformers>=4.41.0
torch>=2.9.0
spacy>=3.7.5
numpy>=1.26.0
matplotlib>=3.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
